/*background gradient that slowly changes color*/
body {
  background: linear-gradient(-45deg, #e3d1ff, #9146ff); /*a6c5ff);*/
  background-size: 450% 450%;
  animation: gradient 240000ms ease infinite;
  height: 100vh;
  margin-right: 2em;
  margin-left: 2em;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*the big musbynice*/
.my-name {
  font-family: "Inconsolata", monospace;
  font-size: 4em;
  margin: 0;
}

/*twitch player containers*/
.twitch .twitch-video {
  padding-top: 56.25%;
  position: relative;
  height: 0;
}

.twitch .twitch-video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.twitch .twitch-chat {
  height: 400px;
}

.twitch .twitch-chat iframe {
  width: 80%;
  height: 100%;
  padding-left: 1em;
}

@media screen and (min-width: 850px) {
  .twitch {
    position: relative;
  }

  .twitch .twitch-video {
    width: 75%;
    padding-top: 42.1875%;
  }

  .twitch .twitch-chat {
    width: 25%;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
  }
}

footer {
  position: fixed;
  display: grid;
  grid-template-areas: ". madeBy links";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  bottom: 0;
  left: 0;
  width: 100%;
}

.a-links {
  grid-area: links;
  justify-self: end;
  margin-right: 2em;
  cursor: pointer;
}

i.fab {
  color: black;
}

i.fab:hover {
  color: white;
  animation: hover 300ms ease-in-out forwards;
}

@keyframes hover {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

a:visited {
  color: black;
}

#madeBy {
  grid-area: madeBy;
  font-family: "Inconsolata", monospace;
  font-size: 12px;
  font-weight: 400;
  justify-self: center;
}
