body {
  background: linear-gradient(-45deg, #effbff, #a6c5ff);
  background-size: 400% 400%;
  animation: gradient 240000ms ease infinite;
}

.myName {
  font-family: "Inconsolata", monospace;
  font-size: 200px;
  padding: 0;
  margin: 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

footer {
  position: absolute;
  bottom: 0;
}
.footerFlex {
  display: flex;
  justify-content: center;
  padding-right: 20px;
}

a {
  padding-right: 20px;
}

a:visited {
  color: black;
}
