/*background gradient that slowly changes color*/
body {
  background: linear-gradient(-45deg, #e3d1ff, #9146ff); /*a6c5ff);*/
  background-size: 450% 450%;
  animation: gradient 240000ms ease infinite;
  height: 100vh;
  padding-left: 2em;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*the big musbynice*/
.myName {
  font-family: "Inconsolata", monospace;
  font-size: 5rem;
  margin: 0;
}

.twitch .twitch-video {
  padding-top: 56.25%;
  position: relative;
  height: 0;
}

.twitch .twitch-video iframe {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 0;
}

.twitch .twitch-chat {
  height: 400px;
  padding-right: 5%;
}

.twitch .twitch-chat iframe {
  width: 100%;
  height: 90%;
}

@media screen and (min-width: 850px) {
  .twitch {
    position: relative;
  }

  .twitch .twitch-video {
    width: 75%;
    padding-top: 42.1875%;
  }

  .twitch .twitch-chat {
    width: 25%;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
  }
}

footer {
  position: fixed;
  display: grid;
  grid-template-areas: ". madeBy links";
  grid-template-columns: 1fr 1fr 1fr;
  bottom: 0;
  width: 100%;
}

/*.footerFlex {
  display: flex;
  justify-content: center;
  padding-right: 20px;
}*/

a {
  grid-area: links;
  padding-right: 5px;
  color: black;
  justify-items: end;
}

a:visited {
  color: black;
}

#madeBy {
  grid-area: madeBy;
  font-family: "Inconsolata", monospace;
  font-size: 12px;
  font-weight: 200;
}
